
.header-container {
    height: 60px;
    padding: 20px 0 20px 0;
}

.header-thumb {
    display: block;
}

.header-thumb img:hover {
    transform: scale(1.05);
}

.header-thumb img {
    height: 140px;
    width: 135px;
}

.header-title {
    align: center;
}

.header-title h1 {
    color: white;
    position: absolute;
    bottom: 90%;
    left: 50%;
    font-size: 200%;
}