
.footer_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.footer_links a {
    color: inherit;
    text-decoration: none;
}

.footer_copyright {
    margin-left: auto;
    padding-right: 10px;
}

.footer_icon {
    width: 75px;
    height: 75px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    background-image: repeating-linear-gradient(to bottom right, #e96443 0%, #904e95 100%);
    color: white;

}